.table-container {
  display: flex;
  align-items: center;
  justify-content: center;

  table {
    border-spacing: 5em 1em;
    margin-top: 1em;

    th {
      text-align: left;
      padding-bottom: 1em;
    }

    td {
      word-wrap: break-word;
      max-width: 300px;

      &:nth-child(1) {
        font-weight: 550;
      }

      &:nth-child(2) {
        font-style: italic;
      }
    }
  }
}
